// VARIABLES COLORS
$black: #000;
$white: #fff;
$pink: #FF69B4;
$deepskyblue: #00BFFF;
$sienna: #A0522D;
$maroon: #800000;
$darkturquoise:#00CED1;
$gold: #FFD700;
$mediumseagreen: #3CB371;
$lightseagreen: #20B2AA;
$crimson:#DC143C;
$darkviolet: #9400D3;
$purple:#800080;

/* FONTS PRELOAD MAIN */

/* FONTS PRELOAD AFTERALL BLOCK */
@font-face {
   font-family: "Claredon";
   src: url(../fonts/clarendon-regular/Clarendon-Regular.ttf);
}

// VARIABLES FONTS
$clarendon: "Claredon";

// STYLES

// common styles
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: black;
    color: white;
    text-align: center;
}

p{
    margin: 0;
}

// CREDITS SCENE

.text-after{
    font-size: 5vw;
    font-weight: 100;
    font-family: clarendon;
}

.slider{
    font-size: 3vw;
}

.credits, .text-after{
    display: none;
}

.text-after__bottom{
    text-transform: uppercase;
}