/* FONTS PRELOAD MAIN */
@import url('https://fonts.googleapis.com/css2?family=Alegreya+SC&family=Balsamiq+Sans&family=Bellota:wght@300&family=Bona+Nova&family=Caveat&family=Hachi+Maru+Pop&family=Kaisei+Decol&family=Neucha&family=Reggae+One&family=Roboto:wght@100&display=swap');
@font-face {
   font-family: "Claredon";
   src: url(../fonts/clarendon-regular/Clarendon-Regular.ttf);
}
@font-face {
    font-family: "assassin-st";
    src: url(../fonts/assassin.woff2) format("woff2");
}
// VARIABLES FONTS
$clarendon: "Claredon";

// STYLES

// common styles
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: black;
    color: white;
    text-align: center;
}

p{
    margin: 0;
}

// GRADIENT HOVER ANIMATION
.center p:hover:not(.space){
    background-color: #f3ec78;
    background-image: linear-gradient(45deg, #9400D3, #00CED1);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

// TOGGILING STYLE FOR ONCLICK EVENT ON TEXT
.hidden-text{
    display: none;
}

// SPACE ANIMATION

.space{
    visibility: hidden;
    -webkit-animation: blink 3s linear infinite;
    animation: blink 3s linear infinite;
}

@-webkit-keyframes blink {
    0% { color: rgb(0, 0, 0); }
    35% { color: rgb(255, 255, 255); }
    65% { color: rgb(255, 255, 255); }
    100% { color: rgb(0, 0, 0); }
  }

@keyframes blink-animation {
    0% { color: rgb(0, 0, 0); }
    35% { color: rgb(255, 255, 255); }
    65% { color: rgb(255, 255, 255); }
    100% { color: rgb(0, 0, 0); }
  }

// CREDITS SCENE

.text-after{
    font-size: 5vw;
    font-weight: 100;
    font-family: clarendon;
}

.slider{
    font-size: 3vw;
}

.credits, .text-after{
    display: none;
}

.text-after__bottom{
    text-transform: uppercase;
}
