/* FONTS PRELOAD MAIN */
@import url('https://fonts.googleapis.com/css2?family=Alegreya+SC&family=Balsamiq+Sans&family=Bellota:wght@300&family=Bona+Nova&family=Caveat&family=Hachi+Maru+Pop&family=Kaisei+Decol&family=Neucha&family=Reggae+One&family=Roboto:wght@100&display=swap');
@font-face {
   font-family: "Claredon";
   src: url(../fonts/clarendon-regular/Clarendon-Regular.ttf);
}
@font-face {
    font-family: "assassin-st";
    src: url(../fonts/assassin.woff2) format("woff2");
}

// VARIABLE COLORS
$transperent-grey: rgba(230, 230, 230, 0.1);

// VARIABLES FONTS
$clarendon: "Claredon";

// COMMON STYLES

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: black;
    color: white;
    text-align: center;
}

p{
    margin: 0;
}

// ALIGN CONTAINER FROM 1080 AND HIGHER
.swiper-wrapper{
    align-items: center;
}

// NEGATIVE MARGIN NEEDED TO JUSTIFY ITEMS IN THE CENTER
.swiper-slide{
    max-height: 800px;
    margin-left: -30px;
}

// STYLES FOR CENTRAL CONTAINER

.center{
    font-size: 24px;
    font-family: clarendon;
    text-align: center;
}

// LITTLE SHADOW ON THE SPACE BUTTON
.center::after{
    position: absolute;
    content: "";
    width: 150px;
    box-shadow: 0 0 90px 5px white;
    bottom: -5px;
    left: calc(50% - 75px);
}

// LEFT CONTAINER
.left{
    display: grid;
    grid-template-areas:
    "one two"
    "three four"
    "five six"
    "description description";
    grid-column-gap: 35px;
    padding: 30px 30px 15px;
    background-color: $transperent-grey;
    box-shadow: 0 0 30px 10px $transperent-grey;
    border: 2px $transperent-grey;
    border-radius: 1em;
    font-family: assassin-st, sans-serif;
    overflow: hidden;

    // GRID ASCII
    .one{
        grid-area: one;
    }
    .two{
        grid-area: two;
    }
    .three{
        grid-area: three;
    }
    .four{
        grid-area: four;
    }
    .description{
        grid-area: description;
    }
    .project-card__image{
        max-width: 100%;
        border-radius:.5em;
    }

    .description{
        margin-top: -10px;
        font-size: 24px;
    }
}

// PROJECT CARD STYLES
.project-card{
    width: 80%;
    margin: 0;
    font-size: 18px;
    justify-self: center;
}

.project-card__image:hover{
    cursor: default;
}

.project-card__description{
    font-size: 18px;
    margin-bottom:20px;
}

.right{
    padding: 30px 30px 15px;
    background-color: $transperent-grey;
    box-shadow: 0 0 30px 10px $transperent-grey;
    border: 2px $transperent-grey;
    border-radius: 1em;
    overflow: hidden;
    font-family: assassin-st, sans-serif;
    font-size: 18px;
    .description{
        margin-top: 10px;
        font-size: 24px;
    }
}


// CREDITS SCENE

.text-after{
    font-size: 5vw;
    font-weight: 100;
    font-family: clarendon;
}

.credits, .text-after{
    display: none;
}

.text-after__bottom{
    text-transform: uppercase;
}
